@page "/"

@inject HttpClient http

<!-- created cards for stories using AdaptiveCardsBlazor NuGet package (MIT licensed), see also https://www.adaptivecardsblazor.com/gettingstarted.html -->

<h1>John's Stories</h1>

Here are all the stories:

<p></p>

@schema

<p></p>


<div class="row">
    @for (int j = 0; j < 3; j++)
    {
        @for (int i = 0; i < 4; i++)
        {
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <AdaptiveCard Schema="@schema"></AdaptiveCard>
            </div>
        }
    }
</div>

@code {
    string schema = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await http.GetAsync("AdaptiveCard?cardtype=story");

        schema = await response.Content.ReadAsStringAsync();

        string s = response.StatusCode.ToString();
    }
}
