@page "/login"

@inject HttpClient http
<!-- created cards for stories using AdaptiveCardsBlazor NuGet package (MIT licensed), see also https://www.adaptivecardsblazor.com/gettingstarted.html -->

<h1>Hello Adaptive Cards for Blazor!</h1>

Here's a card for logging in, if you are John:

<p></p>

@schema

<p></p>


<div class="row row d-flex justify-content-center">
    <div class="col-sm-9 col-md-8 col-lg-6 col-xl-4">
        <AdaptiveCard Schema="@schema"></AdaptiveCard>
    </div>
</div>

@code {
    string schema = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await http.GetAsync("AdaptiveCard?cardtype=login");

        schema = await response.Content.ReadAsStringAsync();

        string s = response.StatusCode.ToString();
    }
}