@page "/login"

@inject HttpClient http

<!-- created cards for stories using AdaptiveCardsBlazor NuGet package (MIT licensed), see also https://www.adaptivecardsblazor.com/gettingstarted.html -->

<h1>Hello Adaptive Cards for Blazor!</h1>

Here's a card for displaying the weather:

<p></p>

@schema

<p></p>

<div class="row">
    <div class="col-3">
        <AdaptiveCard Schema="@schema"></AdaptiveCard>
    </div>
</div>

@code {
    string schema = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await http.GetAsync("StoryCard");

        schema = await response.Content.ReadAsStringAsync();

        string s = response.StatusCode.ToString();
    }
}