@page "/Login"
@attribute [AllowAnonymous]

@using AdaptiveCards.Blazor.Actions
@using Stories.Client.Authentication

@inject HttpClient http
@inject NavigationManager navigation
@inject MockupAuthenticationStateProvider authentication

<h1>Hello Adaptive Cards for Blazor!</h1>

Please login if you are John:

<p></p>

@schema

<p></p>

<div class="row row d-flex justify-content-center">
    <div class="col-sm-9 col-md-8 col-lg-7 col-xl-6">
        <AdaptiveCard Schema="@schema" OnSubmitAction="OnLoginClicked"></AdaptiveCard>
    </div>
</div>

<p></p>
<button class="btn btn-primary" @onclick="OnLoginClicked">Login as normal user</button>


@code {
    string schema = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        HttpResponseMessage response = await http.GetAsync("AdaptiveCard?cardtype=login");

        schema = await response.Content.ReadAsStringAsync();

        string s = response.StatusCode.ToString();
    }

    private void OnLoginClicked()
    {
        //SubmitHandler="this"

        if( authentication.MockSignIn("john", "hi") )
            navigation.NavigateTo("/");
    }
}