@page "/LogoutRedirect"

@using Stories.Client.Services

@inject NavigationManager navigation
@inject MockupAuthenticationStateProvider authentication

<h3>You are now logged out.</h3>

@code {
    protected override void OnInitialized()
    {
        authentication.MockSignOut();
        navigation.NavigateTo("/");
    }
}
