<em>Story Statistics</em>

<section>
    <div>
        <LineChart />
    </div>

    <p class="text-muted">
        <em style="font-size: smaller">Hint: Click on a point in the chart to see the date.</em>
    </p>
</section>

<p class="text-muted">© Martijn Storck</p>
