@inherits LayoutComponentBase


        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <AuthorizeView>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="Login">Login</NavLink>
                        </NotAuthorized>
                        <Authorized>
                            <NavLink class="nav-link" href="LogoutRedirect">Logout</NavLink>
                        </Authorized>
                    </AuthorizeView>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>
